<div *ngIf="mission">
  <div class="row m-2 justify-content-center">
    <div class="col-xs-12 col-md-12 col-lg-12" id="center-column">


      <div class="row justify-content-center">
        <h2>Inscriptions pour la mission {{mission.nom}}</h2>
      </div>
      <div class="row justify-content-center">
        <button type="button" data-toggle="modal" data-target="#creerInscription" class="btn btn-primary m-2">Créer
          une inscription
        </button>
      </div>
      <div class="row justify-content-center m-3">
        <h4 *ngIf="!inscriptions||!inscriptions.length">Il n'y a aucune inscription pour cette mission</h4>
      </div>
      <table *ngIf="inscriptions.length" class="table col-12 m-3 m-1">
        <thead>
        <tr>
          <th scope="col">Date début</th>
          <th scope="col">Date fin</th>
          <th scope="col">Places disponibles</th>
          <th scope="col">Détail</th>
          <th scope="col">Supprimer</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let inscription of inscriptions">
          <td>{{inscription.debut|date:'d MMM y à hh:mm'}}</td>
          <td>{{inscription.fin|date:'d MMM y à hh:mm'}}</td>
          <td>{{inscription.nbplaces}}</td>
          <td>
            <span [routerLink]="['/detailInscription', inscription.idInscription]"
                    class="fa fa-info-circle">
            </span>
          </td>
          <td>
            <span (click)="delete(inscription.idInscription)"
                  class="fa fa-trash">
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="creerInscription" tabindex="-1" role="dialog" aria-labelledby="Créer une inscription"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Création d'une inscription</h5>
        <button #closeModal type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form m-2" #creerInscriptionForm="ngForm">

          <div class="row">
            <label class="col-sm-4">Date de début</label>
            <div class="col-sm-8">
              <div class="form-group">
                <div class="input-group date" data-target-input="nearest" NgTempusdominusBootstrap>
                  <input
                    class="form-control"
                    [(ngModel)]="newInscription.debut"
                    id="debut"
                    name="debut"
                    [options]="options"
                    NgTempusdominusBootstrapInput
                    type="text"
                    required
                  />
                  <div class="input-group-append" NgTempusdominusBootstrapToggle>
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <label class="col-sm-4">Date de fin</label>
            <div class="col-sm-8">
              <div class="form-group">
                <div class="input-group date" data-target-input="nearest" NgTempusdominusBootstrap>
                  <input
                    class="form-control"
                    [(ngModel)]="newInscription.fin"
                    id="fin"
                    name="fin"
                    [options]="options"
                    NgTempusdominusBootstrapInput
                    type="text"
                    required
                  />
                  <div class="input-group-append" NgTempusdominusBootstrapToggle>
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <label class="col-sm-4">Nombre de places</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input
                  class="form-control"
                  [(ngModel)]="newInscription.nbplaces"
                  id="nbPlaces"
                  name="nbPlaces"
                  type="number"
                  required
                />
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4">Consignes</label>
            <div class="col-sm-8">
              <div class="form-group">
                <textarea
                  class="form-control"
                  [(ngModel)]="newInscription.consigne"
                  id="consigne"
                  name="consigne"
                  type="text"
                  rows="5"
                  required
                ></textarea>
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" data-dismiss="modal" [disabled]="creerInscriptionForm.invalid"
                (click)="saveInscription()">Enregistrer l'inscription
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>


    </div>
  </div>

</div>


