<div>
<section id="banner">
  <div class="row justify-content-center">

      <h1 class="text-center">Volontario</h1>

  </div>
  <div class="row justify-content-center">
    <p>
      <i>"On n’est jamais aussi heureux que dans le bonheur qu’on donne. Donner, c’est recevoir."</i> Abbé Pierre
    </p>
  </div>
</section>
<section id="IndexOne" class="wrapper">

    <div class="inner split">
      <section class="col-md-6 col-sm-12">
        <h2>Bénévoles</h2>
        <p>Vous souhaitez faire du bénévolat? Trouver facilement une mission et une association qui vous convient.</p>


        <button type="button" class="btn btn-special">Trouver une mission</button>


      </section>

      <section class="col-md-6 col-sm-12">
        <ul class="checklist">

          <li>Choisir son domaine associatif</li>
          <li>Définir ses disponibilités</li>
          <li>Définir sa zone géographique</li>

        </ul>
      </section>
    </div>


</section>

<section id="IndexTwo" class="wrapper">

  <div class="inner split">
    <section class="col-md-6 col-sm-12">
      <img src="assets/img/indexpic.jpg" id="imgIndex"/>
    </section>

    <section class="col-md-6 col-sm-12">
      <h2>Associations</h2>
      <p>La mise en relation avec des bénévoles est facilité avec la création en ligne de missions associatives. </p>
      <p>Les bénévoles peuvent s'inscrire directement sur la mission en fonction du nombre de disponibilité</p>

      <button type="button" class="btn btn-special">Créer une mission</button>
    </section>
  </div>


</section>

</div>
