#detailImgAsso{
  max-height:300px;
  max-width:300px;
}

#attribut{
  color:Blue;
}

.btn{
  border-radius: 100px;
  padding-left: 2.25em;
  padding-right: 2.25em;
}

.btn-special {
  background-color: #00BC8A;
  color: white;
  border-radius:100px;
  border-color:#00BC8A ;
  padding-left: 1.0em;
  padding-right: 1.0em;

}

.btn-special:hover {
  background-color: #00d69d;
}

.btn-special:active {
  background-color: #00a377;
}

.card{
  color: black;
  border-style: solid;
  border-width: 1px;
  border-color:  #00BC8A;
}
.card-body{
  background-color: #e8edf1;
}
