<div class="row">
  <nav class="navbar fixed-top navbar-expand-lg bg-light navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Togglenavigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarSupportedContent">
      <ul class="navbar-nav justify-content-center" id="listeNav">

        <li class="nav-item ml-3mr-3">
          <a class="nav-link" routerLink="/accueil">ACCUEIL</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="dropBenevoles" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            BENEVOLES
          </a>

          <div class="dropdown-menu" aria-labelledby="dropBenevoles">
            <a class="nav-link">Trouver une mission</a>
            <a class="nav-link">Espace personnel</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="dropAssos  " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ASSOCIATIONS
          </a>
          <div class="dropdown-menu" aria-labelledby="dropAssos">
            <a class="nav-link">Espace association</a>
            <a class="nav-link">Créer une mission</a>

          </div>
        </li>
      </ul>

    </div>
    <a class="btn btn-primary justify-content-right" routerLink="login">Connexion</a>

  </nav>
</div>
