 <section>
      <div class="row justify-content-center">
        <h2 class="text-center"> Authentification</h2>
      </div>

      <div class="row justify-content-center m-2" style="text-align:center">
        Veuillez saisir le formulaire pour vous connecter
      </div>
      <div class="row justify-content-center m-2" style="text-align:center">
        L'authentification vous permettra d'accéder à votre espace personnel et suivre vos prêts
      </div>

      <div class="row justify-content-center ">

        <form class="form">

          <h3> Formulaire de connexion</h3>


            <div class="form-group">
              <label for="identifiant">Identifiant</label>
              <input type="text" class="form-control" id="identifiant" required>
            </div>

            <div class="form-group">
              <label for="mdp">Mot de passe</label>
              <input type="text" class="form-control" id="mdp">
            </div>

            <button type="submit" class="btn btn-special">Login</button>

          </form>

      </div>
    </section>



