<div>

  <h3 class="row justify-content-center m-3"> Association</h3>
    <div class="row justify-content-center">
    <form #formComplet="ngForm" (ngSubmit)="onSubmit()" class="form col-9 m-3">
      <div class="form-group">
        <div class="row justify-content-center m-2">
        <h3>Informations légales</h3>
        </div>

        <form #formSiret="ngForm">
        <label>Siret</label>
        <input
               class="form-control"
               matInput placeholder="Saisir le numéro siret"
               [(ngModel)]="association.siret"
               aria-label="Siret"
               name="Siret"
               required
               minlength="14"
               maxlength="14"
               (click)="reset()"
              >
          <div class="row m-2" *ngIf="siretError"
               class="alert alert-danger">
            <div *ngIf="siretError">
              Aucun établissement n'a été trouvé
            </div>
          </div>


        <div class="row justify-content-center">
        <button class="btn btn-special"[disabled]="formSiret.invalid" type="button" (click)="refresh(association.siret)">Rechercher</button></div>
          </form>
          <div class="row m-3">
          Dénomination : {{association.nom}}
          </div>
          <div class="row m-3">
          Adresse : {{searchBoxAdress}}
          </div>


       </div>
      <div *ngIf="siretValid">
      <div class="row justify-content-center m-3">
        <h3>Informations de connexion</h3>
      </div>
      <label>Identifiant</label>

      <input
        class="form-control"
        matInput placeholder="Identifiant de connexion"
        [(ngModel)]="user.identifiant"
        name="identifiant"
        aria-label="Identifiant"
        required
      >
      <label>Mot de passe</label>

      <input
      class="form-control"
      matInput placeholder="Mot de passe de connexion"
      type="password"
      [(ngModel)]="user.mdp"
      name="mdp"
      aria-label="Mdp"
      required
    >
      <label>Adresse mail</label>
      <input
        class="form-control"
        matInput placeholder="E-mail"
        type="email"
        [(ngModel)]="user.mail"
        name="mail"
        aria-label="mail"
        required

      >



      <div class="row justify-content-center m-3">
        <h3>Description de l'association</h3>
      </div>

      <label>Site web</label>

      <input
        class="form-control"
        matInput placeholder="Adresse web si existante"
        [(ngModel)]="association.web"
        name="web"
        aria-label="Web"
      >

      <div class="form-group">
        <label class="row m-2" for="domaine">Domaine associatif</label>
        <select multiple [(ngModel)]="association.domaines" name="domaine" class="row form-control"  id="domaine" required>

          <option *ngFor="let domaine of domaines" [(ngValue)]="domaine">{{domaine.nom}}</option>
        </select>
      </div>


      <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control"
                  rows="8"
                  id="description"
                  matInput placeholder="Décrivez votre association, ses activités, son historique etc."
                  [(ngModel)]="association.description"
                  name="description"
                  aria-label="Description"
                  required></textarea>
      </div>

      <div class="form-group">
        <label>Image</label>
        <input class="form-control-file" type="file" (change)="selectFile($event)"  accept="image/*">
      </div>
      <div class="row justify-content-center m-3">
      <button type="submit" [disabled]="formComplet.invalid" class="btn btn-special">Inscription</button>
      </div>
        <div class="row m-2" *ngIf="formComplet.invalid "
             class="alert alert-danger">
          <div *ngIf="formComplet.invalid">
            Tous les champs ne sont pas correctement remplis
          </div>
        </div>

      </div>
</form>

</div>
</div>

