html, body {
  font-family: 'Cantarell', sans-serif;
  background-color: whitesmoke;
  color: #666;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

}

#containerAccueil{
  height:80%;
  width:100%;
  display: table;
  background-color: whitesmoke;


}




