<h2 class="row justify-content-center m-3"> Formulaire d'inscription</h2>
<div class = "row justify-content-center">
<div class="btn-group" role="group" aria-label="Basic example">


  <button type="button" class="btn btn-special"(click)="beneSelected()">BENEVOLE</button>
  <button type="button" class="btn btn-special" (click)="assoSelected()">ASSOCIATION</button>
  </div>
</div>
  <app-inscription *ngIf="association"></app-inscription>
  <app-inscription-benevole *ngIf="benevole"></app-inscription-benevole>



