<div>

  <h3 class="row justify-content-center m-3"> Formulaire d'inscription</h3>
    <div class="row justify-content-center">
    <form #f="ngForm" (ngSubmit)="refresh(searchBox.value)" class="form col-6 m-3">
      <label>Numéro Siret</label>

        <input
               class="form-control"
               matInput placeholder="saisir le numéro siret"
               #searchBox id="searchBox"
               aria-label="Siret"
              >
        <div class="row justify-content-center">
        <button type="submit" class="btn btn-primary">Actualiser</button></div>
      <label>Dénomination</label>
        <input class="form-control" placeholder="dénomination sociale" [(ngModel)]="denomination" aria-label="Denomination" name="denomination">


</form>

</div>
</div>

