<div>

<section id="IndexOne" class="wrapper">

    <div class="inner split">
      <section class="col-md-6 col-sm-12">
        <h2>Bénévoles</h2>
        <p>Vous souhaitez faire du bénévolat? Trouver facilement une mission et une association qui vous convient.</p>


        <button type="button" class="btn btn-special" routerLink="/recherche">Chercher une mission</button>


      </section>

      <section class="col-md-6 col-sm-12">
        <ul class="checklist">

          <li>Choisir son domaine associatif</li>
          <li>Définir ses disponibilités</li>
          <li>Définir sa zone géographique</li>

        </ul>
      </section>
    </div>


</section>

<section id="IndexTwo" class="wrapper">

  <div class="inner split">
    <section class="col-md-6 col-sm-12">
      <img src="assets/img/indexpic.jpg" id="imgIndex"/>
    </section>

    <section class="col-md-6 col-sm-12">
      <h2>Associations</h2>
      <p>La mise en relation avec des bénévoles est facilité avec la création en ligne de missions associatives. </p>
      <p>Les bénévoles peuvent s'inscrire directement sur la mission en fonction du nombre de disponibilité</p>

      <button type="button" class="btn btn-special" routerLink="/espaceAsso">Espace Association</button>
    </section>
  </div>


</section>

</div>
