<div>
<div class="row">
  <nav class="navbar fixed-top navbar-expand-lg bg-light navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Togglenavigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarSupportedContent">
      <ul class="navbar-nav justify-content-center" id="listeNav">

        <li class="nav-item ml-3mr-3">
          <a class="nav-link" routerLink="/accueil">ACCUEIL</a>
        </li>

        <li class="nav-item ml-3mr-3">
          <a class="nav-link" routerLink="/recherche">CHERCHER UNE MISSION</a>
        </li>

        <li class="nav-item ml-3mr-3">
          <a class="nav-link" routerLink="">ESPACE ASSOCIATION</a>
        </li>


      </ul>


    <ul class="navbar-nav justify-content-right">

      <li class="nav-item m-1">
    <a *ngIf="!getAuthenticated()" class="btn btn-sm btn-primary justify-content-center" routerLink="/inscription">Inscription</a>

      </li>
      <li class="nav-item m-1">
    <a *ngIf="!getAuthenticated()" class="btn btn btn-sm btn-special justify-content-center" routerLink="login">Connexion</a>

    <a *ngIf="getAuthenticated()" class="btn btn btn-sm btn-danger justify-content-center" routerLink="logout" >Deconnexion</a>
      </li>
    </ul>
    </div>
  </nav>
</div>
<section id="banner">
  <div class="row justify-content-center">

    <h1 class="text-center">Volontario</h1>

  </div>

</section>
</div>
